html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
 
}

.logo-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 15%;
    margin: 0;
    margin-right: auto;
}


